<!DOCTYPE html>
<html>
<head>
    <title>Movie Rating App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Movie Rating App</h1>
        <form action="/result" method="POST">
            <div class="form-group">
                <label class="form-label">Enter the name of the movie:</label>
                <input class="form-input" type="text" name="movie_name" required>
            </div>
            <button class="form-submit" type="submit">Get Ratings</button>
        </form>
    </div>
</body>
</html>
