
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height 100vh;
    margin 0;
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
}

.container {
    color: #000;
    border-radius: 20px;
    padding: 2rem;
    width: 100%;
    max-width: 450px;
    margin: 1rem;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
    color: #333333;
    text-align: center;
    justify-content: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #555555;
    justify-content: center;
    align-items: center;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.form-submit {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #0088cc;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #006699;
}